.idea
.venv
/.env

# Downloaded articles (PDFs and metadata)
articles/


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Logs
*.log
/scripts/articles.zip
/scripts/open_ai_test.py
/scripts/together_ai_test.py
/results
/bot/results
/scripts/chroma_*
/docs/*.xml
/docs/*.pdf