.idea
.venv
/.env

# Downloaded articles (PDFs and metadata)
articles/


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Logs
*.log
/examples/articles.zip
/examples/open_ai_test.py
/examples/together_ai_test.py
/results